body {
    font-family: 'Heebo', sans-serif;
    color: darkred;
    font-size: 50px;
}

h1,h2,h3 {
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: darkred;
}


.container {
    max-width: 900px;
    margin: auto;
}

img {
    image-resolution: 60px;
    max-width: 100%;
    width: auto;
    height: auto;
}

.center {
    max-width: 100%;
margin: auto;
    display: block;
}

.description{
    background: #000;
}

.about{
    background: #fff;
}


.contact{
    background: #000;
     padding:40px;
        
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  } 
}

