body{
font-family: 'Heebo', sans-serif;
    color: darkred;
    font-size: 50px;
}
h1{
    font-weight: 400;
    font-size: 60px;
    color: darkred;
}
img{
   image-resolution: 60px;
}
li{
     color: darkred;
}